.daily {
  padding: 30px 20px;
  width: 324px;
  background: #deab4d;
}
.item-text {
  text-align: center;
  font-size: 17px;
}
.item-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
/* .slick-next {
  right: 2px;
}
.slick-prev {
  left: 2px;
} */
