.menu {
  display: flex;
  flex-direction: column;
  gap: 99px;
  padding: 20px 0;
  width: 18%;
  background: #deab4d;
  border-radius: 40px;
}
.menu-content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.menu-avatar {
  width: 55%;
  margin: 0 auto;
}
.menu-icon {
  width: 40%;
  margin: 0 auto;
}
.menu-weather-text {
  text-align: center;
}
@media (max-width: 1353px) {
  .menu {
    width: 11%;
  }
}
@media (max-width: 1261px) {
  .menu {
    display: none;
  }
}
@media (max-width: 1000px) {
  .menu-weather-text {
    font-size: 12px;
  }
}
@media (max-width: 860px) {
  .menu {
    display: none;
  }
}
