@import url("./normalize");

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #d69e36;
}

.container {
  max-width: 1358px;
  margin: 0 auto;
}
.flex {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}
