@import url("./normalize");

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #d69e36;
}

.container {
  max-width: 1358px;
  margin: 0 auto;
}
.flex {
  padding: 0 10px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 860px) {
  .flex {
    flex-direction: column-reverse;
  }
}
